/*Buttons & Icons*/

.page-sidebar-menu li:hover i.fa{
   color: $blue-a;
}

/*Assist Buttons*/
.assist-buttons {
  margin: 18px 0px 8px 0px;
  width: 341px;
  margin-right: 3px;
  float: right; 
  z-index: 1;
}

.assist-buttons button.btn.red-haze.btn-sm.dropdown-toggle {
  border: 1px solid #dbd5d5;
  background-color: #fff;
  color: #333333; }

.assist-buttons button.btn.red-haze.btn-sm.dropdown-toggle i {
  margin-right: 6px; }

/*Forms*/
.settings-block  div.row {
  margin-bottom: 20px;
  min-height: 48px;
  }

  .form-label{
  background-color: $blue-a;
  padding: 12px;
  border-radius: 2px;
  font-weight: normal;
  margin-bottom: 45px;
}

 .cbcontainer {
  display: inline-block;
}

.settings-block .checkbox {
  text-align: left;
}

.settings-block .checkbox input {
  float: right;
  position: relative !important;
  margin: 5px 5px 5px 25px !important;
} 

 div.cbcontainer label {
  min-width: 280px;
 }

.cbcontainer label input {
  margin-left: 40px;
}

.settings-block .col-sm-3.col-md-offset-1.control-label{
  text-align: left;
  padding-left: 0px;
}

.form-group{
  margin-bottom:38px ;
}

/*Firefox Dotted Line Fix*/
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.save-settings{
  background-color: $blue-b;
  color: #fff;
  float: right;
  margin-top: 10px;
}

.save-settings:hover{
  background-color: $blue-a;
  color: #fff;
  float: right;
}

.save-settings i{
  padding: 0px 6px 0px 6px;
  color: #fff;
}

.help-icon{
  float: right;
  margin-right: 25%;
  padding: 2px 6px 2px 6px;
  background-color: $grey;
  border-radius: 5px;
}

/*Button Hover States Clean Up*/
button.slide-icon-add-trans.btn.btn-default:hover,  
button.slide-icon-add-trans.btn.btn-default:active, 
button.slide-icon-assign-contact.btn.btn-default:focus, 
button.slide-icon-assign-contact.btn.btn-default.focus {
  background-color: $blue-a;
  border-color: $blue-a;
  color: #fff;
}

button.restore-saver.btn.btn-default:hover, 
button.restore-saver.btn.btn-default:active, 
button.slide-icon-assign-contact.btn.btn-default:focus,
button.slide-icon-assign-contact.btn.btn-default.focus {
  background-color: $blue-a;
  border-color: $blue-a;
  color: #fff;
}

button.slide-icon-add-trans.btn.btn-default:hover, 
button.slide-icon-add-trans.btn.btn-default:active, 
button.slide-icon-assign-contact.btn.btn-default:focus,
button.slide-icon-assign-contact.btn.btn-default.focus {
  background-color: $blue-a;
  border-color: $blue-a;
  color: #fff;
}

button.restore-saver.btn.btn-default:hover, 
button.restore-saver.btn.btn-default:active, 
button.slide-icon-assign-contact.btn.btn-default:focus,
button.slide-icon-assign-contact.btn.btn-default.focus  {
  background-color: $blue-a;
  border-color: $blue-a;
  color: #fff;
}

button.slide-icon-assign-contact.btn.btn-default:hover, 
button.slide-icon-assign-contact.btn.btn-default:active, 
button.slide-icon-assign-contact.btn.btn-default:focus,
button.slide-icon-assign-contact.btn.btn-default.focus {
  background-color: $blue-a;
  border-color: $blue-a;
  color: #fff;
}

.slide-icon-add-contact.btn.btn-default:hover,
.slide-icon-add-contact.btn.btn-default:active,
.slide-icon-add-contact.btn.btn-default:focus,
.slide-icon-add-contact.btn.btn-default.focus {
  background-color: $blue-a;
  border-color: $blue-a;
  color: #fff; 
} 

.btn-default:focus, .btn-default.focus{
 background-color: $blue-a;
 border-color: $blue-a;
 color: #fff; 
}

div#tab-box:hover .fa.fa-sign-out.new-trigger-ani{
  background-color: $blue-a;
  border-color: $blue-a;
}

i#new-trigger-tab.fa.fa-sign-out.new-trigger-ani{
  cursor: pointer; cursor: hand; 
  background-color: $blue-b;
  border-color: $blue-b;
}

button.btn.red-haze.btn-sm.dropdown-toggle:hover, button.btn.red-haze.btn-sm.dropdown-toggle:active, button.btn.red-haze.btn-sm.dropdown-toggle:focus {
 background-color: $blue-a;
 border-color: $blue-a;
 color: #fff;  
}

.panel-body.warning-note{
  background-color: $blue-b;
  border-radius: 6px;
  border-color: $blue-b;
  width: 80%;
  color: #fff;
}

p.form-label {
  background-color: $blue-b;
  border-radius: 6px;
  border-color: $blue-b;
  width: 65%;
  color: #fff; 
}

.page-actions div.btn-group button.btn.red-haze.btn-sm.dropdown-toggle:hover {
  background-color: $blue-a;
};


