/*Buttons & Icons*/

.page-sidebar-menu li:hover i.fa{
   color: $blue-a;
}

/*Assist Buttons*/
.assist-buttons {
  margin: 18px 0px 8px 0px;
  width: 341px;
  margin-right: 3px;
  float: right; 
  z-index: 1;
}

.assist-buttons button.btn.red-haze.btn-sm.dropdown-toggle {
  border: 1px solid #dbd5d5;
  background-color: #fff;
  color: #333333; }

.assist-buttons button.btn.red-haze.btn-sm.dropdown-toggle i {
  margin-right: 6px; }