/*Section D*/
ul.search-forms{
	list-style-type: none;
	padding-left: 15px;
}

.date-created{
	color: $blue-b;
	padding: 0px 2px 0px 2px;
	font-weight: bold;
}

.form-title{
	font-weight: bold;
	padding-right: 4px;
}

.address-reference{
	font-style: italic;
	color: #333333;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: normal;
}

.search-forms li{
	margin: 10px 0 10px 0;
}

.go-to-form{
	color: $blue-b;
	font-weight: bold;
	text-decoration: underline;
	padding-left: 6px;
}

.greyed-out{
	color: #666666;
}

.form-sect-title span.address-searcher a i#addressSearcher.fa.fa-search {
	color: $blue-b;
	display: inline-block;
	font-size: 12px;
	margin-left: 32px;
	vertical-align: middle;
}

.address-searcher a{
	color: $blue-b;
}

.address-searcher a:hover{
	color: $blue-b;
}

.address-fail{
	padding: 8px;
	margin: 25px;
	background-color: $blue-a;
}

.remove-clause{
	float: right;
}

.remove-clause:hover, .remove-clause:active, .remove-clause:visited {
	color: $blue-a;
}
